{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Password Change {% endblock %}

{% block style %}
<style>
.register{
    width:500px;
    margin:auto;
}
</style>


{% endblock %}

{% block body %}
    <div class="container register">
        <h3>Change Your Password</h3>
    <form action="" method="POST" novalidate>
        {{form|crispy}}
        {% csrf_token %}

        <input type="submit" value="Change Password" class="btn btn-success">
    </form>
    </div>

{% endblock %}