{%extends "base.html"%} {% block title %}Blaines Website{% endblock %} 
{% block content %}
    <body>
        <div class='container'>
            <h1>Sign Up</h1>
            <h3>Please enter your details below</h3>
            <div class="message">
                {{text | safe}}
            </div>
            <form action="{{url_for('views.signup')}}" method="POST">
                <input placeholder="enter your email address" type="email" name="email_name" required> <br>
                <input placeholder="enter your password" type="password" name="password_name"  required> <br>
                <input placeholder="retype your password" type="password" name="password_name2"  required> <br>
                <button type="submit" name="action" value="signup">Sign Up</button> 
            </form>
        </div>
    </body>
</html>
{%endblock%}